body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.dashboard-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#registerForm {
    display: none;
}

.dashboard-container table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

 .dashboard-container th, .dashboard-container td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.dashboard-container th {
    background-color: #f2f2f2;
}

.dashboard-container h2 {
text-align: center;
}

.dashboard-container img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
}